body {
    background-color: rgb(197, 211, 236);
}

.container {
    text-align: center;
}

.traffic-light {
    background-color: #000000;
    border-radius: 5rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    height: 10rem;
    width: 4rem;
}

.circle {
    border-radius: 100%;
    position: relative;
    height: 3rem;
    width: 3rem;
}

.default-red {
    background: rgb(175, 105, 105);
}

.default-yellow {
    background: rgb(187, 187, 122);
}

.default-green {
    background: rgb(124, 187, 124);
}

.red {
    background: rgb(255, 0, 0);
}

.yellow {
    background: rgb(255, 255, 0);
}

.green {
    background: rgb(0, 255, 0);
}

.btn-align {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.btn {
    background: black;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    border-width: 0;
    font-size: 18px;
    margin: 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled {
    background: rgb(31, 31, 31);
}

.btn:disabled:hover {
    cursor: default;
}
